.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 6rem;
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.card-image {
  height: 5rem;
  margin-left: 2rem;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4rem;
  width: 100%;
}

.coffee-name {
  font-size: 2rem;
}

.coffee-price {
  font-size: 2rem;
  margin-right: 4rem;
}
