.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  height: 100%;
}
