.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #262626;
}

.about-section {
  display: flex;
  height: 30rem;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
}

.about-section-black {
  display: flex;
  height: 30rem;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
  background-color: #262626;
}

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.about-image-container-black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  border: solid 5px rgb(202, 202, 202);
}

.about-text {
  display: flex;
  flex-direction: column;
  flex: 2;

  width: 30rem;
  height: 25rem;
  outline: #d4af37 5px solid;
  background-color: #262626;
}

.about-text-black {
  display: flex;
  flex-direction: column;
  flex: 2;

  width: 30rem;
  height: 25rem;

  outline: #d4af37 5px solid;
}

.about-image {
  height: 25rem;
  outline: #d4af37 5px solid;
  flex: 1;
}

.about-header {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #d4af37;
}

.about-paragraph {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-left: 1rem;
  margin-right: 1rem;
  word-wrap: break-word;
}
