.splashscreen {
  height: 40rem;
  width: 100%;
  background: no-repeat linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  object-fit: fill;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splashscreen-text {
  font-size: 6rem;
  font-family: 'Dancing Script', cursive;
}

.article-title {
  font-size: 2rem;
}

.article-text {
  font-size: 1.5rem;
}

.find-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.find-about > .article-title,
.find-about > .article-text {
  color: #262626;
}

.find-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #262626;
  height: 20rem;
}
