.splashscreen {
  height: 50rem;
  width: 100%;
  background: no-repeat center
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  object-fit: fill;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splashscreen-text {
  font-size: 6rem;
  font-family: 'Dancing Script', cursive;
}

.article-title {
  font-family: 'Merriweather', serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.article-text {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  font-style: italic;
}

.find-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: rgb(235, 235, 235);
}

.find-about > .article-title,
.find-about > .article-text {
  color: #262626;
}

.find-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #262626;
  height: 20rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  margin-top: 2rem;
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  color: #262626;
  background-color: #d4af37;
  border-radius: 60px;
  border: 2px solid white;
}

.button:hover {
  color: white;
  background-color: #ffd13b;
}

.button:active {
  color: white;
  background-color: #d4af37;
}
