.navbar {
  display: flex;
  align-items: center;

  color: rgb(228, 228, 228);
  width: 100%;
  height: 4rem;
  background-color: #262626;
  justify-content: space-between;
}

.navbar-name {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  margin-right: 5rem;
}

.navbar-name,
.link {
  font-size: 1.7rem;
  margin: 2rem;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.logo {
  width: 3.5rem;
}

.logo-header {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}
