.footer-container {
  background-color: #262626;
  height: 13rem;
  display: flex;
  justify-content: space-between;
}

.motivational {
  margin-top: 1rem;
  margin-left: 5rem;
}

.motivational > p {
  line-height: 1.2;
  margin-top: 1rem;
  width: 25rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.social-links > h1 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #d4af37;
  margin-bottom: 1rem;
}

.link-icon {
  width: 3rem;
  margin-right: 2rem;
}
